In [0]:
from bs4 import BeautifulSoup
import urllib
import requests
import pandas as pd

#state_names = ["Alaska", "Alabama", "Arkansas", "Arizona", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]
state_names = ["Michigan", "Illinois", "Indiana"]
df = pd.DataFrame(columns = ['state', 'title', 'company', 'salary', 'description', 'url'])

In [8]:
for state in state_names:
  url = "https://www.indeed.com/jobs?q=data+scientist&l=" + state
  for page_number in range (0,2):
    url = url + "&start=" + str(10*page_number)
    #print(url)
    req = requests.get(url)
    soup = BeautifulSoup(req.content, "html.parser")
    
    for job in soup.find_all("a", class_ = "jobtitle turnstileLink "): 
      job_url  = "https://www.indeed.com" + job['href'] 
      temp_df = pd.DataFrame(columns = ['state', 'title', 'company', 'salary', 'description', 'url']) 
      #print(job_url)
      try:
        job_soup = BeautifulSoup(urllib.request.urlopen(job_url)) 
      except:
        pass
      try:
        job_soup = BeautifulSoup(urllib.request.urlopen(job_url)) 
      except:
        pass
      temp_df = temp_df.append({'url' : url} , ignore_index=True)
      temp_df['state'] = state
      try:
        #print(job_soup.find("h3", attrs={"class":"jobsearch-JobInfoHeader-title"}).text)
        temp_df['title'] = job_soup.find("h3", attrs={"class":"jobsearch-JobInfoHeader-title"}).text
      except: 
        pass
      try:
        #print(job_soup.find("div", attrs={"class":"icl-u-lg-mr--sm icl-u-xs-mr--xs"}).text)
        temp_df['company'] = job_soup.find("div", attrs={"class":"icl-u-lg-mr--sm icl-u-xs-mr--xs"}).text
      except:
        pass
      try:
        #print(job_soup.find("span", attrs={"class":"icl-u-xs-mr--xs"}).text)
        temp_df['salary'] = job_soup.find("span", attrs={"class":"icl-u-xs-mr--xs"}).text
      except:
        pass
      try:
        #print(job_soup.find("div", attrs={"class":"jobsearch-jobDescriptionText"}).text)
        temp_df['description'] = job_soup.find("div", attrs={"class":"jobsearch-jobDescriptionText"}).text
      except:
        pass
      df = df.append(temp_df, ignore_index=True)
      temp_df.drop(axis=0, index=0)
df.head(64)

       state  ...                                                url
0   Michigan  ...  https://www.indeed.com/jobs?q=data+scientist&l...
1   Michigan  ...  https://www.indeed.com/jobs?q=data+scientist&l...
2   Michigan  ...  https://www.indeed.com/jobs?q=data+scientist&l...
3   Michigan  ...  https://www.indeed.com/jobs?q=data+scientist&l...
4   Michigan  ...  https://www.indeed.com/jobs?q=data+scientist&l...
..       ...  ...                                                ...
59  Michigan  ...  https://www.indeed.com/jobs?q=data+scientist&l...
60  Michigan  ...  https://www.indeed.com/jobs?q=data+scientist&l...
61  Michigan  ...  https://www.indeed.com/jobs?q=data+scientist&l...
62  Michigan  ...  https://www.indeed.com/jobs?q=data+scientist&l...
63  Michigan  ...  https://www.indeed.com/jobs?q=data+scientist&l...

[64 rows x 6 columns]

In [9]:
df.shape

(140, 6)